:root {
  --background-components: #ffffff;
  --background-header: #262a2d;
  --background-view-books: #d5dfdf;
  --background-sidebar: #373d42;
  --color-primary: #156efd;
  --color-primary-active: #61a0fe;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}
