.gestao-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
span {
  margin: 20px;
}
.pesquisa-tabela {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #221a60;
  color: white;
}
.pesquisa-tabela div {
  width: 100%;
}
select {
  width: 24%;
}

.btn-add-livro {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #148f7d;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  color: white;
  &:hover{
    transition: 0.6s;
    background-color: #0e4d44;
    cursor: pointer;
    
  }
}
