.book-list{
    background-color: var(--background-view-books);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-card{
    background-color: var(--background-components);
    width: 80%;
    margin: 10px;
    padding: 10px;
}

.book-card .info-container{
    display: flex;
    flex-direction: column;
}

.book-card .info-container .infos{
    display: flex;
    margin: 20px 0px 20px 0px;
    justify-content: space-between;
}


.book-card .info-container .info-h1{
    color: var(--color-primary);
}
