.book-list{
    background-color: var(--background-view-books);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: 1fr;
    align-items: center;
    justify-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.book-card{
    background-color: var(--background-components);
    width: 80%;
    margin: 10px;
    padding: 10px;
}

.book-card .info-container{
    display: flex;
    flex-direction: column;
}

.book-card .info-container .infos{
    display: flex;
    margin: 20px 0px 20px 0px;
    justify-content: space-between;
}


.book-card .info-container .info-h1{
    color: var(--color-primary);
}

@media screen and (max-width:768px) {
    .book-list{
        grid-template-columns: 1fr;
        grid-auto-flow: 1fr;
    }
}