.banner-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/wallpaper2.jpg');
    min-height: 50vh;
    background-size: cover;
    background-position: center center;
}
.banner-home div{
    color: #fff;
    text-align: center;
}
.banner-home div h3{
    font-size: 2.3em;
}
.banner-home div p{
    font-size: 1.3em;
}