.layout-wrapper
{
    display: flex;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}
.wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    position: relative;
}

main{
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}