.table-container {
  width: 100%;
  max-height: 450px;

  overflow-y: auto;
  overflow-x: auto;
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  
  position: relative; /* Ajuda no posicionamento do sticky header */

}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-family: "Segoe UI", sans-serif;
}
thead{
  position: sticky;
  top: 0;
}
/* Cabeçalho */
.custom-table th {
  background-color: #3c3e45;
  color: #ffffff;
  padding: 20px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.custom-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
  color: #333;
  font-size: 0.95rem;
}

/* Efeito Zebra */
.custom-table tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

/* Efeito Hover */
.custom-table tbody tr:hover {
  background-color: #f1f4f9;
  transition: background-color 0.2s;
}

/* Botões de Ação dentro da tabela */
.btn-edit,
.btn-delete {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  margin-right: 5px;
}

.btn-edit {
  background-color: #148f7d;
  color: white;
}
.btn-delete {
  background-color: #d8384a;
  color: white;
}

.btn-edit:hover {
  background-color: #0e4d44;
  transition: 0.7s;
}
.btn-delete:hover {
  background-color: #7e1f15;
  transition: 0.7s;
}
