.gestao-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}


.pesquisa-tabela {
  padding: 20px 40px;
  background-color: #221a60;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  box-sizing: border-box;
}
.pesquisa-tabela div:first-child {
  display: flex;
  flex: 1;
  max-width: 600px;
}

.pesquisa-tabela div:last-child {
  display: flex;
  justify-content: flex-end;
}

.btn-add-livro {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #148f7d;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.btn-add-livro:hover {
  background-color: #0e4d44;
  cursor: pointer;
  transform: translateY(-2px); 
}